/* 
    Document   : estilos
    Created on : 05-ene-2013, 20:49:11
    Author     : Ramón Lence
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-image: url('./images/agenda.png');
    background-repeat: no-repeat;
}

.error {
    text-align: center;
    color:red;
}
.correcto {
    text-align: center;
    color:green;
}
.menu, #containerFormulario, .footer {
    font-family: sans-serif;
    font-size: 17pt;
    text-align: center;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: green;
}
.menu table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.titulo {
    text-align: center;
    color:blue;
}
.menu ul li {
    list-style: none;
} 

